In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import seaborn as sns

url='https://drive.google.com/file/d/16mZaR5oynbJf-nidyusEy2TQIpMe4yEr/view?usp=sharing'
file_id=url.split('/')[-2]
dwn_url='https://drive.google.com/uc?id=' + file_id
df = pd.read_csv(dwn_url)
print(df.head())

   id   DGN  PRE4  PRE5  PRE6 PRE7  ... PRE19 PRE25 PRE30 PRE32 AGE Risk1Yr
0   1  DGN2  2.88  2.16  PRZ1    F  ...     F     F     T     F  60       F
1   2  DGN3  3.40  1.88  PRZ0    F  ...     F     F     T     F  51       F
2   3  DGN3  2.76  2.08  PRZ1    F  ...     F     F     T     F  59       F
3   4  DGN3  3.68  3.04  PRZ0    F  ...     F     F     F     F  54       F
4   5  DGN3  2.44  0.96  PRZ2    F  ...     F     F     T     F  73       T

[5 rows x 18 columns]

In [ ]:
print(dwn_url)

https://drive.google.com/uc?id=16mZaR5oynbJf-nidyusEy2TQIpMe4yEr

In [2]:
df.head()

   id   DGN  PRE4  PRE5  PRE6 PRE7  ... PRE19 PRE25 PRE30 PRE32 AGE Risk1Yr
0   1  DGN2  2.88  2.16  PRZ1    F  ...     F     F     T     F  60       F
1   2  DGN3  3.40  1.88  PRZ0    F  ...     F     F     T     F  51       F
2   3  DGN3  2.76  2.08  PRZ1    F  ...     F     F     T     F  59       F
3   4  DGN3  3.68  3.04  PRZ0    F  ...     F     F     F     F  54       F
4   5  DGN3  2.44  0.96  PRZ2    F  ...     F     F     T     F  73       T

[5 rows x 18 columns]

In [3]:
import numpy as np

# df2 will be my new data on which I will make changes
df2 = df.copy()
# I change all 'T' to 1 and 'F' to 0 in df2 using the lambda function
df2[['PRE7', 'PRE8', 'PRE9', 'PRE10', 'PRE11', 'PRE17', 'PRE19', 'PRE25', 
     'PRE30', 'PRE32', 'Risk1Yr']] = df2[['PRE7', 'PRE8', 'PRE9', 'PRE10', 'PRE11', 
                                          'PRE17', 'PRE19', 'PRE25', 'PRE30', 'PRE32', 
                                          'Risk1Yr']].apply(lambda x: np.where(x == 'T', 1, 0))

In [4]:
# Checking
df2[['PRE7', 'PRE8', 'PRE9', 'PRE10', 'PRE11', 'PRE17', 'PRE19', 
     'PRE25', 'PRE30', 'PRE32', 'Risk1Yr']].head()

   PRE7  PRE8  PRE9  PRE10  PRE11  PRE17  PRE19  PRE25  PRE30  PRE32  Risk1Yr
0     0     0     0      1      1      0      0      0      1      0        0
1     0     0     0      0      0      0      0      0      1      0        0
2     0     0     0      1      0      0      0      0      1      0        0
3     0     0     0      0      0      0      0      0      0      0        0
4     0     1     0      1      1      0      0      0      1      0        1

In [5]:
# I add a new feature called 'RATIO' to the data frame. RATIO = FEV1 / FVC
df2['RATIO'] = df2['PRE5'] / df2['PRE4']

In [6]:
df2.head()

   id   DGN  PRE4  PRE5  PRE6  ...  PRE30  PRE32  AGE  Risk1Yr     RATIO
0   1  DGN2  2.88  2.16  PRZ1  ...      1      0   60        0  0.750000
1   2  DGN3  3.40  1.88  PRZ0  ...      1      0   51        0  0.552941
2   3  DGN3  2.76  2.08  PRZ1  ...      1      0   59        0  0.753623
3   4  DGN3  3.68  3.04  PRZ0  ...      0      0   54        0  0.826087
4   5  DGN3  2.44  0.96  PRZ2  ...      1      0   73        1  0.393443

[5 rows x 19 columns]

In [7]:
# List of indexes I want to remove
my_l = list(df2[df2['RATIO'] > 1.3].index.values)

In [8]:
df2 = df2.drop(my_l, axis=0)

In [9]:
df2 = df2.drop('id', axis = 1)

In [10]:
# using get_dummies
# new data frame: df3
df3 = pd.get_dummies(df2, drop_first = False, columns = ['DGN', 'PRE6', 'PRE14'])

In [11]:
df3.head()

   PRE4  PRE5  PRE7  PRE8  ...  PRE14_OC11  PRE14_OC12  PRE14_OC13  PRE14_OC14
0  2.88  2.16     0     0  ...           0           0           0           1
1  3.40  1.88     0     0  ...           0           1           0           0
2  2.76  2.08     0     0  ...           1           0           0           0
3  3.68  3.04     0     0  ...           1           0           0           0
4  2.44  0.96     0     1  ...           1           0           0           0

[5 rows x 29 columns]

In [12]:
X = df3.drop("Risk1Yr", axis=1)
y = df3['Risk1Yr']

In [14]:
X.head()

   PRE4  PRE5  PRE7  PRE8  ...  PRE14_OC11  PRE14_OC12  PRE14_OC13  PRE14_OC14
0  2.88  2.16     0     0  ...           0           0           0           1
1  3.40  1.88     0     0  ...           0           1           0           0
2  2.76  2.08     0     0  ...           1           0           0           0
3  3.68  3.04     0     0  ...           1           0           0           0
4  2.44  0.96     0     1  ...           1           0           0           0

[5 rows x 28 columns]

In [19]:
df3.to_csv("dataset.csv")

In [18]:
y.value_counts()

0    386
1     69
Name: Risk1Yr, dtype: int64

In [7]:
# Binary Classification with Sonar Dataset: Baseline
from pandas import read_csv
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold
# load dataset
dataframe = read_csv("/content/drive/MyDrive/Colab Notebooks/Data/dataset.csv")
dataset = dataframe.values
# split into input (X) and output (Y) variables
X = dataset[:,0:20].astype(int)
Y = dataset[:,20]

# baseline model
def create_baseline():
	# create model
	model = Sequential()
	model.add(Dense(20, input_dim=20, activation='relu'))
	model.add(Dense(1, activation='sigmoid'))
	# Compile model
	model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
	return model

# evaluate model with standardized dataset
estimator = KerasClassifier(build_fn=create_baseline, epochs=100, batch_size=5, verbose=0)
kfold = StratifiedKFold(n_splits=10, shuffle=True)
results = cross_val_score(estimator, X, Y, cv=kfold)
print("Baseline: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead.

Baseline: 96.70% (3.01%)